form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #000;
  animation: fadeIn 2.1s alternate;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Container_Login {
  padding: 10vh;
  position: relative;
  border-radius: 20px;
  box-shadow: 3px 6px 18px 5px #000;
  background-color: #FFFFFF;
  min-width: 300px;
}

.Title_Login {
  display: flex;
  margin: 25px;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: #056F07;
}

.Icon_Logo {
  display: flex;
  margin: 4px;
  justify-content: center;
  height: 120px;
}

.Group_Login {
  align-items: center;
  padding: 14px 20px;
}

.error {
  color: red;
  font-size: 12px;
}

.Icon_User {
  display: flex;
  position: absolute;
  size: 90px;
  margin: 14px 4px;
  width: 20px;
  height: 20px;
}

input {
  border: none;
  background-color: #dddddd;
  border-radius: 18px;
  padding: 13px 24px;
  width: 250px;
  font-size: 15px;
}

input:hover::placeholder {
  padding: 0 2px;
  transition: 0.4s ease-in;
  color: black;
  font-size: 15px;
}

.Button_Login {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #056F07;
  color: #FFFFFF;
  padding: 9px 25px;
  border-radius: 19px;
  font-size: 15px;
  font-weight: 600;
  margin: 11px auto;
  margin-top: 43px;
}

.Button_Login:hover {
  cursor: pointer;
  transition: 0.8s;
  background-color: #D1941B;
}


.Container_Login2 {
  margin-top: 23px;
}

.Remember_Checkbox {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  margin: 0px 32px;
  color: #056F07;
  transition: color 0.4s ease-in-out;
}

.Remember_Checkbox input {
  display: flex;
  position: absolute;
  margin: 6px -11px;
  cursor: pointer;
}

.Remember_Checkbox:hover {
  color: #78b84a;
}