.Group_Login {
    align-items: center;
    padding: 14px 20px;
}

.Icon_Password {
    display: flex;
    position: absolute;
    size: 90px;
    margin: 14px 4px;
    width: 20px;
    height: 20px;
}

.error {
    color: red;
    font-size: 12px;
}


.Eye_Login {
    display: flex;
    position: absolute;
    margin: 18px 273px;
    border: none;
    background-color: transparent;
}

.Eye_Login:hover {
    cursor: pointer;
}