form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #000;
}

.Container {
  padding: 10vh;
  position: relative;
  border-radius: 20px;
  box-shadow: 3px 6px 18px 5px #000;
  background-color: #FFFFFF;
  min-width: 300px;
}

.Icon-Logo{
  display: flex;
  margin: 4px;
  justify-content: center;
  height: 170px;
}

.Title{
  display: flex;
  margin: 25px;
  justify-content: center;
  font-weight: 600;
  color: #056F07;
}

.Campo-Group {
  align-items: center;
  padding: 14px 20px;
}


.Icon{
  display: flex;
  position: absolute;
  size: 90px;
  margin: 16px 5px;
}

input{
  border: none;
  background-color: #dddddd;
  border-radius: 18px;
  padding: 13px 24px;
  width: 250px;
  font-size: 15px;
}

input:hover::placeholder{
  padding: 0 2px;
  transition: 0.4s ease-in;
  color: black;
  font-size: 15px;
}

.Button{
  display: flex;
  justify-content: center;
  border: none;
  background-color: #056F07;
  color: #FFFFFF;
  padding: 9px 25px;
  border-radius: 19px;
  font-size: 15px;
  font-weight: 600;
  margin: 11px auto;
  margin-top: 43px;
}

.Button:hover{
  cursor: pointer;
  transition: 0.8s;
  background-color: #D1941B;
}

.Eye{
  display: flex;
  position: absolute;
  margin: 18px 273px;
  border: none;
  background-color: transparent;
}

.Eye:hover{
  cursor: pointer;
}

.Container2{
  margin-top: 23px;
}

.Remember{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  margin: 0px 32px;
  color: #056F07;
  transition: color 0.4s ease-in-out;
}

.Remember input{
  display: flex;
  position: absolute;
  margin: 6px -11px;
  cursor: pointer;
}

.Remember:hover{
  color: #78b84a;
}

.Links{
  display: flex;
  position: absolute;
  margin: 0px 275px;
}

.Help-A{
  color: #056F07;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

.Help-A:hover{
  color: #78b84a;
}


