/* Adicione este bloco de estilos no seu arquivo App.css */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #000;
}

.Container {
  padding: 10vh;
  border-radius: 20px;
  box-shadow: 8px 0px 18px 5px black;
  background-color: #95a5a6;
}

.Campo-Group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: baseline;
  position: relative;
}

label {
  position: absolute;
  transition: transform 0.5s ease-in-out;
}
@keyframes moveLabel {
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(3px);
  }
}
.Campo-Group:hover label {
  animation: moveLabel 1s infinite;
}

input {
  display: flex;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid black;
  padding: 23px 10vh;
}

.Button{
  align-self: flex-end; 
  border: none;
  background-color: #4d94ff;
  color: #fff;
  padding: 9px 30px;
  border-radius: 6px;
}

.Button:hover{
  cursor: pointer;
  transition: 1.0s;
  background-color: #6aa2ff;
}