@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body{
  background-image: url(./assets/wallpaper_fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}